@use '../settings' as setting;
.o-container {
  box-sizing: content-box;
  padding-left: setting.spaces(base);
  padding-right: setting.spaces(base);
  margin-left: auto;
  margin-right: auto;
  &\:header {
    padding: setting.spaces(base) clamp(setting.spaces(2xs), calc(3.5vw - setting.spaces(base)), setting.spaces(base));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    box-sizing: border-box;
  }
  &\:is-header-scroll {
    transition: all setting.animes(duration) setting.animes(timing);
    background: var(--c-bg);
    box-shadow: 0 1px 3px var(--c-separator);
  }
  &\:innerWrap,
  .c-inner-wrap {
    max-width: setting.itemsize(content);
  }
  &\:main,
  &\:underPage {
    max-width: setting.itemsize(wrapper);
  }
  &\:footer {
    text-align: center;
    background: var(--c-overlay);
    font-size: setting.fontsize(xs);
    color: var(--c-dimmed);
  }
}
.c-inner-wrap {
  margin-left: auto;
  margin-right: auto;
}
.c-copyright {
  font-size: setting.fontsize(xs);
  text-align: center;
  font-family: setting.$font-family-fpt;
  margin-bottom: setting.spaces(base);
}
.c-footer-address {
  line-height: setting.lineheight(body);
  max-width: max-content;
  text-align: center;
  margin: 0 auto setting.spaces(base);
}
