@use '../settings' as setting;
.o-has-icon {
  display: inline-flex;
  align-items: baseline;
  gap: setting.spaces(3xs);
  &\:center,
  &\:goList,
  &\:time,
  &\:comment {
    align-items: center;
  }
  &\:xs,
  &\:goList,
  &\:phone {
    gap: setting.spaces(xs);
  }
  &\:xxs {
    gap: setting.spaces(2xs);
  }
  &\:s {
    gap: setting.spaces(s);
  }
  &\:goList {
    font-weight: setting.fontweight(b);
    line-height: 1;
    margin-left: auto;
    display: flex;
    width: max-content;
  }
  &\:time {
    line-height: 1;
    font-size: setting.fontsize(xs);
    font-family: setting.$font-family-fpt;
    color: var(--c-dimmed);
  }
  &\:redume {
    display: flex;
    font-weight: setting.fontweight(b);
    background: var(--c-overlay);
    padding: setting.spaces(xs) setting.spaces(base);
    margin: calc(setting.spaces(base) * -1) calc(setting.spaces(base) * -1) 0 calc(setting.spaces(base) * -1);
    position: relative;
    box-sizing: content-box;
    width: 100%;
    cursor: pointer;
    align-items: center;
  }
  &\:redume-is-open {
    margin-bottom: setting.spaces(base);
    border-bottom: solid 1px var(--c-separator);
  }
  &\:phone,
  &\:footerphone {
    line-height: 1;
  }
  &\:phone {
    justify-content: center;
    align-items: center;
    font-size: clamp(28px, calc((100vw - 650px) * 999), 50px);
  }
  &\:footerphone {
    color: inherit;
    font-size: 12px;
  }
  &\:comment {
    line-height: 1;
    color: setting.brandcolor(base);
    font-weight: setting.fontweight(m);
  }
}
.c-redume-marker {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform setting.animes(duration) setting.animes(timing);
  &\:is-open {
    transform: translateY(-50%) rotate(180deg);
  }
}
.c-phone-number {
  font-family: setting.$font-family-fpt;
  line-height: setting.lineheight(heading);
  font-size: clamp(setting.fontsize(l), calc((100vw - 650px) * 999), setting.fontsize(xl));
  font-weight: setting.fontweight(b);
  &\:footer {
    font-size: setting.fontsize(s);
  }
}
.c-comment-icon {
  color: var(--c-dimmed);
}
.c-comment-count {
  font-weight: setting.fontweight(b);
  font-size: setting.fontsize(m);
  font-family: setting.$font-family-fpt;
}
